body{
    font-family: 'Oswald', sans-serif;
	background: linear-gradient(#904caa, #c264da, #e74ce7);
}

/*CSS DO HEADER*/
header{
   background-image: url("imgs/fundo-degrade.avif");
    padding: 20px 0;
}
.caixa {
	position: relative;
	width: 1500px;
	margin: 0 auto;
}

.logo {
	width:115px;
	pointer-events: none;
}

nav {
	position: absolute;
	top:  34px;
	right: 0;
	left: 50;
}

nav li {
	display: inline-flex;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 26px;
	transition: 100ms;
	text-decoration: none;
}

nav a:hover {
	color: red;
	transition: 120ms;
	font-size: 28px;
}

nav a:active {
	color: darkred;
}

body {
	font-family: 'Oswald', sans-serif;
}
/*CSS DO HEADER*/




/* CSS DOS inicio index */

.pgInicial {
	background: linear-gradient(#904caa, #c264da, #e74ce7);
}
.jobs{
	background: linear-gradient(#904caa, #c264da, #e74ce7);
}
.principal {
	width: 940px;
	margin: 0 auto;
	padding: 45px 0;
}
.logo-sandasi{
width: left;
}

.principal li {
	display: inline-block;
	text-align: center;
	width: 420px;
	vertical-align: top;
	margin: 2% 2%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 10px 10px 10px 0px black;
	transition: 200ms;
}
.principal ul{
	list-style: circle;
}


.trbalhos:hover {
	border: 3px solid #ecfd00;
	box-shadow: 0px 0px 15px 7px #cbdb72;
	transition: 200ms;
}

.quemsou:hover {
	border: 3px solid #267dc4;
	box-shadow: 0px 0px 15px 7px #267dc4;
	transition: 200ms;
}


.microcamu:hover {
	border: 3px solid rgb(250, 0, 0);
	box-shadow: 0px 0px 15px 7px rgb(202, 49, 49);
	transition: 200ms;
}

.agendamento:hover {
	border: 3px solid rgb(0, 250, 0);
	box-shadow: 0px 0px 15px 7px #2bff00;
	transition: 200ms;
}

.localizacao:hover {
	border: 3px solid gold;
	box-shadow: 0px 0px 15px 7px #a07707;
	transition: 200ms;
}


.principal li:active {
	border: 3px solid rgb(39, 9, 9);
	box-shadow: 0px 0px 15px 7px rgb(0, 0, 0);
	transition: 200ms;
}

.principal li:hover h1 {
	font-size: 30px;
	transition: 200ms;
}

.principal li a {
	text-decoration: none;
}

.principal li img {
	width: 100%;
	margin: 10px 0;
}

.principal h1 {
color: white;
text-align: center;
font-size: 29px;
transition: 200ms;
font-weight: bold;
}

.principal h2 {
	color: black;
	text-align: center;
	font-size: 26px;
	transition: 200ms;
	font-weight: bold;

}

.descri-topicos {
	color: white;
	font-size: 22px;
}
/*Fotos*/


	/*fim do fotos*/

/* CSS DO INDEX*/
/*
.banner {
	width: 940px;
	margin: 0 auto;
}

.banner img {
	width: 100%;
}
*/


/* index | section sistema-sobre */
/*
.sistema-sobre {
	padding-top: 30px;
	background: linear-gradient(white, black);
}

.principal {
	padding: 2.5em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	font-size: 1.35em;
	text-align: justify;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.titulo-principal {
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.via-lactea {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.video-sistema {
	width: 560px;
	margin: 0 auto;
	padding-bottom: 60px;
}
*/

/* index | section local */
/*
.local {
	padding: 3em 0;
	background: url("imagens/background.jpg"); /**linear-gradient(white, #3a4a75, black, #010010);
}

.local h3 {
	color: white;
}

.local p {
	margin: 0 0 2em;
	text-align: center;
	font-size: 1.8em;
	color: white;
	font-weight: bold;
}

.imagem-terra {
	width: 940px;
	margin: 0 auto;
}

.imagem-terra img {
	width: 100%;
	border-radius: 10px;
	padding-bottom: 80px;
}
*/

/* CSS DA PÁGINA DE CONTATO */

.principal-contato {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0px;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	background: lightgray;
	border: 1px solid black;
	border-radius: 5px;
	transition: 0.1s all;
	cursor: pointer;
}

.enviar:hover {
	background: green;
}

table {
	margin: 20px 0 40px;
	box-shadow: black 0px 0px 4px 1px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid black;
	padding: 8px 15px;
}



/* CSS DO FOOTER */

footer {
	text-align: center;
	background: linear-gradient( #e74ce7,#c264da, #904caa);
	padding: 30px 0;
}

.info-dev {
	margin: 0px 0;
}

.info-dev h1 {
	margin: 0px 0;
	padding: 20px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.info li a {
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.info li a:hover {
	color: red;
	text-decoration: underline;
}

.info img {
	width: 25px;
	margin: 0px 8px 0px 0px;
}

.copyright {
	color:  white;
	font-size: 14px;
	margin-top: 20px;
}

@media screen and (max-width:  480px) {
	.caixa {
		width: auto;
	}

	.principal, .conteudo-camadast, .imagem-terra, .video-sistema, .espaco {
		width: auto;
	}

	.planetas {
		width: auto;	
	}

	.planetas h2, .ano-solar, .descricao-planeta {
		font-size: 1em;
	}

	.planetas li {
		width: 46%;
		align-content: center;
		margin: 5px 6px;
	}

	.planetas li:hover h2 {
	font-size: 1.05em;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-camadast, .imagem-camadast {
		width: 85%;
	}

.principal-contato {
	width: 95%;	
}

	form label, form legend {
	font-size: 1.5em;
	margin: 10px 0 10px;
}

	.enviar {
		font-size: 1em;
	}



}
